.wrap ul {
	list-style: disc;
	margin: 0 40px;
}
.wrap li {
	margin: 0;
}

#mra-sitepush-results {
	white-space: pre-wrap;
	margin: 20px 0;
	padding: 5px;
	border: 1px solid grey;
	max-height:  200px;
	overflow: scroll;
	overflow-x: hidden;
}

#mra_sitepush_dest-warning {
	margin-left: 10px;
	font-weight: bold;
	color: red;
}

.hide-field {
	display: none;
}

.hidden-iframe {
	display: none;
	height: 0;
	width: 0;
}

input.small-text {
	float: left;
}
input.small-text + .description {
	margin-left: 65px;
}